@page "/teste/formatacao"
@using System.Globalization

<h1>Teste de Formatação de Valores com @@bind</h1>
<hr />

<h3>Exemplo 1: Formatando Datas com <code>@@bind:format</code></h3>
<p>
    Digite sua data de aniversário:
    <input @bind="birthdate" @bind:format="dd-MM-yyyy" />
</p>
<p>
    <i>Valor real da variável no C#: @birthdate.ToLongDateString()</i>
</p>

@code {
    // --- Variáveis para o Exemplo 1 ---
    private DateTime birthdate { get; set; } = new(2000, 1, 1);
}