@page "/teste/cascading"

<h1>Teste de Parâmetros em Cascata</h1>

<CascadingValue Name="DealName" Value="@("Oferta da Quinta-Feira Maluca!")">

    <p>Abaixo está o componente filho. Ele vai receber o valor em cascata.</p>

    <ComponenteCascadingFilho />

</CascadingValue>